/*------Overall Font------------------------------*/

*{
  font-family: Baskerville !important;
}

/*------Font and Wording Colors------------------------------*/

/*Title and H1 color*/
h1 {
  color: #009999;
}

/*Font size*/
p {
  font-size: 12pt;
  color: #505050;
}

/*Code font*/
.sourceCode > *, code{
  font-size: 10pt;
  font-family: arial !important;
}

/*------Navigation Bar------------------------------*/

/*Nav font size */
#navbar { 
  font-size: 12pt;
}

/*Sets the text hover color on navbar*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #009999;
}

#navbar .active a{
  color: #009999;
}

/*------Bulleted List------------------------------*/

/*Bulleted List colors*/
li a {
  color: black;
}
li a:hover {
  color: #009999;
}

/*------Table of Contents------------------------------*/

/*Floating table of contents*/
.tocify-header .tocify-item {
  background-color: #009999;
  color: white;
}
.tocify-header > a:focus {
  background-color: blue;
  color: white;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
background-color: white ;
color: #009999;
}


/*------Links------------------------------*/
a {
  color: #009999;
}
a:hover {
  color: #505050;
}

/*------Tables------------------------------
table, td, th {
   border: 1px solid #009999;
   border-collapse: collapse;
}

th {
    background-color: #009999;
    color: white;
    font-size: 12pt;
}
*/
td {
  color: #505050;
}


